.mainImage{
    max-width: 2560px;
    height: 480px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../resources/images/contentsImg/PHI_ws_image_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}