.tabMenu{
    .container{
        display: flex;
        align-items: center;
        background-color: #0f0f0f;
        padding: 8px 0;
        margin-bottom: 20px;
        .tabTitle{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            .tabItem{
                cursor: pointer;
                color: white;
                display: flex;
                align-items: center;
            }
            .active{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                background-color: white;
                color: black;
                width:167px;
                height: 43px;
            }
            .tabItem:not(:last-child){
                margin-right: 25px;
            }
        }
    }
}

@media all and (max-width:767px){
	.tabMenu{
        .container{
            .tabTitle{
                .active{
                    width:130px;
                    height: 33px;
                }
            }
        }
    }
}