.header{
    width: 100%;
    position: fixed;
    z-index: 99;
    .container{
        width: 100%;
        padding: 20px 25px;
        background-color: rgba(222,222,222, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        transition: all 0.4s ease-in-out;
        .wrap_logo{
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .logo{
                margin-right: 8px;
                img{
                    width: 100%;
                }
            }
            .wrap_menu{
                display: flex;
                a{
                    display: flex;
                    align-items: stretch;
                    justify-content: center;
                }
                .wrap_menu_item{
                    position: relative;
                    padding: 0 25px;
                    font-size: 22px;
                    display: flex;
                    align-items: flex-end;
                }
                .wrap_menu_item:not(:last-child){
                    border-right: 1px solid #000;
                }
                .wrap_menu_item::before{
                    content: "";
                    display: block;
                    width: 0;
                    height: 3px;
                    background-color: #00B4F1;
                    position: absolute;
                    top: 5px;
                    left: 11%;
                }
                .wrap_menu_item.active::before{
                    width: 80%;
                    transition: width .6s cubic-bezier(.23,1,.32,1);
                }
            }
        }
        .wrap_family{
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            svg{
                margin-left: 8px;
            }
            .family_menu{
                position: absolute;
                top: 35px;
                left: -45px;
                width: 150px;
                background-color: white;
                box-shadow: 5px 5px 5px #ccc;
                ul{
                    list-style: none;
                    padding: 0 15px;
                    li{
                        cursor: pointer;
                    }
                    li:not(:last-child){
                        padding-bottom: 5px;
                    }
                }
            }
        }
        .hamburgerMenuIco{
            display: none;
        }
    }
    .container.scroll{
        background-color: rgba(222,222,222);
    }
}
.hamburgerMenu{
    position: absolute;
    left: 0;
    bottom: -142px;
    width: 100%;
    .container{
        background-color: #fff;    
        display: flex;
        justify-content: center;
        box-shadow: 5px 5px 5px #ccc;
        .ham_wrap_menu{
            .ham_wrap_menu_item{
                margin-bottom: 15px;
            }
        }
    }
}

/*노트북 & PC : 1024px-*/
@media all and (min-width:1024px) and (max-width:1919px){
	.header{
        .container{
            .wrap_logo{
                .logo{
                    img{
                        width: 80%;
                    }
                }
                .wrap_menu{
                    .wrap_menu_item{
                        font-size: 18px;
                    }
                }
            }
            .hamburgerMenuIco{
                display: none;
            }
        }
    }
}

/*태블릿 가로, 세로 : 768px-1023px*/
@media all and (min-width:768px) and (max-width:1023px){
	.header{
        .container{
            .wrap_logo{
                .logo{
                    img{
                        width: 80%;
                    }
                }
                .wrap_menu{
                    .wrap_menu_item{
                        font-size: 18px;
                    }
                }
            }
            .hamburgerMenuIco{
                display: none;
            }
        }
    }
}

/*모바일 가로, 세로 : -767px*/
@media all and (max-width:767px){
	.header{
        .container{
            .wrap_logo{
                .wrap_menu{
                    display: none;
                }
            }
            .wrap_family{
                display: none;
            }
            .hamburgerMenuIco{
                display: flex;
            }
        }
    }
}