.main{
    .main_container{
        max-width: 1440px;
        margin: 0 auto;
        padding: 60px 0 120px 0;
        .textArea{
            .title{
                text-align: center;
                font-size: 40px;
                span{
                    font-weight: bold;
                    font-size: 48px;
                }
            }
            .description{
                margin:30px 0;
                font-size: 22px;
                text-align: center;
                word-break: keep-all;
            }
            .description:last-child{
                margin:60px 0;
            }
        }
        .subTitle{
            position: relative;
            border: solid 1px #dedede;
            span{
                position: absolute;
                top: -24px;
                left: 50%;
                transform: translateX(-50%);
                background-color: white;
                padding: 5px 35px;
                font-size: 24px;
                font-weight: bold;
                border: solid 1px #dedede;
            }
        }
        .wrapDivision{
            display: flex;
            justify-content: space-evenly;
            margin-top: 70px;
            .division{
                width: 420px;
                height: 280px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 22px;
                color: white;
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                transition: all 0.3s ease-in;
                .moreBtn{
                    border-radius: 15px;
                    background-color: #00B4F1;
                    color: white;
                    padding: 0 15px;
                    font-size: 13px;
                }
                .moreBtn:hover{
                    background-color: #008fbe;
                }
                &:hover{
                    background-size: 130%;
                }
            }
            .division:nth-child(1){
                background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../../resources/images/contentsImg/PHI_ws_image_2.jpg");
            }
            .division:nth-child(2){
                background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../../resources/images/contentsImg/PHI_ws_image_3.jpg");
            }
            .division:nth-child(3){
                background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../../resources/images/contentsImg/PHI_ws_image_4.jpg");
            }
            
        }
    }
}

/*노트북 & PC : 1024px-*/
@media all and (min-width:1024px) and (max-width:1919px){
	.main {
        & .main_container {
            & .wrapDivision {
                .division {
                    width: 360px;
                    height: 220px;
                }
            }
        }
    }
}

/*태블릿 가로, 세로 : 768px-1023px*/
@media all and (min-width:768px) and (max-width:1023px){
	.main {
        & .main_container {
            padding: 30px 10px;
            & .textArea {
                .description {
                    font-size: 18px;
                }
            }
            .wrapDivision{
                flex-direction: column;
                align-items: center;
                .division:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/*모바일 가로, 세로 : -767px*/
@media all and (max-width:767px){
	.main {
        & .main_container {
            padding: 30px 10px;
            & .textArea {
                .title {
                    font-size: 26px;
                    span{
                        font-size: 34px;
                    }
                }
                .description{
                    font-size: 16px;
                }
            }
            .wrapDivision{
                flex-direction: column;
                align-items: center;
                .division:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
}