.service{
    .service_container{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 60px 0 120px 0;
        .wrapTabContents{
            display: flex;
            justify-content: space-between;
            .wrapContentsText{
                width: 60%;
                word-break: keep-all;
                display: flex;
                flex-direction: column;
                .title{
                    font-size: 24px;
                    font-weight: bold;
                    color: #00B4F1;
                }
                .description{
                    margin-top: 15px;
                    font-size: 18px;
                }
                ul{
                    margin-top: 15px;
                    li{
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .wrapContentsImage{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 490px;
            height: 370px;
        }
        .wrapTabContents:not(:last-child){
            margin-bottom: 100px;
        }
        .reference{
            display: flex;
            align-items: center;
            .referenceBtn{
                border-radius: 15px;
                background-color: #00B4F1;
                color: white;
                padding: 0 25px;
                font-size: 22px;
            }
            .wrapReferenceText{
                display: flex;
            }
            .referenceText{
                font-size: 18px;
                margin-left: 25px;
                position: relative;
            }
            .referenceText:not(:last-child)::after{
                content: "";
                display: block;
                width: 1px;
                height: 18px;
                background-color: black;
                position: absolute;
                right: -12px;
                top:20%;                    
            }
        }
        .reference:last-child{
            margin-bottom: 0;
        }
    }
}

/*노트북 & PC : 1024px-*/
@media all and (min-width:1024px) and (max-width:1919px){
	.service {
        .service_container {
            padding: 60px 30px 120px 30px;
            .reference{
                .referenceBtn{
                    margin-right: 16px;
                }
                .wrapReferenceText{
                    display: flex;
                    max-width: 360px;
                    overflow: hidden;
                    white-space: nowrap;
                    overflow-x: auto;
                    .referenceText{
                        margin-left: 0;
                    }
                    .referenceText:not(:first-child){
                        margin-left: 25px;
                    }
                }
            }
        }
    }
}

/*모바일 가로, 세로 : -767px*/
@media all and (max-width:767px){
	.service{
        .service_container{
            padding: 60px 10px 120px 10px;
            .wrapTabContents{
                flex-direction: column;
                align-items: center;
                .wrapContentsText{
                    width: auto;
                    margin: 10px 0;
                }
            }
            .wrapContentsImage{
                width: 360px;
                height: 240px;
            }
            .reference{
                flex-direction: column;
                .referenceText{
                    font-size: 20px;
                }
                .wrapReferenceText{
                    flex-direction: column;
                }
                & .referenceText:not(:last-child)::after {
                    display: none;
                }
            }
        }
    }
}